--extra-index-url https://download.pytorch.org/whl/cu118

torch==2.3.1+cu118
torchvision==0.18.1+cu118

numpy==1.24.1
pandas==1.5.3
Pillow==9.5.0
opencv-python==4.7.0.72
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.10.1
matplotlib==3.7.1
tqdm==4.65.0
fastprogress==1.0.3
geomloss==0.2.6
numba==0.57.1
